
@{
    ViewBag.Title = "SimpleIndexWithJQGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SimpleIndexWithJQGrid</h2>



<div>

    <table id="tblData"></table>

    <div id="divPager"></div>
</div>



@section scripts {

    <!--<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />-->
    @*<link href="~/Scripts/Jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet" />*@
    @*<script src="~/Scripts/JqGrid/js/jquery-1.11.0.min.js"></script>
        <script src="~/Scripts/JqGrid/js/jquery.jqGrid.min.js"></script>
        <script src="~/Scripts/JqGrid/js/i18n/grid.locale-en.js"></script>*@
    <!--<script src="~/Scripts/jquery.jqGrid.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>-->
    @*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-ui-1.10.0.js"></script>
        <script src="~/Scripts/i18n/grid.locale-en.js"></script>
        <script src="~/Scripts/jquery.jqGrid.min.js"></script>
        <script src="~/Scripts/script.js"></script>*@

    <script type="text/ecmascript" src="https://www.guriddo.net/demo/js/jquery.min.js"></script>
    <script type="text/ecmascript" src="https://www.guriddo.net/demo/js/trirand/jquery.jqGrid.min.js"></script>
    <script type="text/ecmascript" src="https://www.guriddo.net/demo/js/trirand/i18n/grid.locale-en.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://www.guriddo.net/demo/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://www.guriddo.net/demo/css/trirand/ui.jqgrid.css" />


    <script>

        $(document).ready(function () {

            $("#tblData").jqGrid({
                url: 'GetStudents',
                datatype: "json",
                //datatype: "local",
                //contentType: "application/json; charset-utf-8",
                mtype: 'Get',
                colNames: ['ID', 'STUDENT NAME', 'EMAIL', 'PHONE', 'CITY'],
                colModel: [
                    { key: true, name: 'StudentId', index: 'StudentId', width: '35px', stype: 'text', searchoptions: { sopt: ['eq', 'ne'] } },
                    { key: false, name: 'StudentName', index: 'StudentName', width: '160px', searchoptions: { sopt: ['eq', 'ne'] } },
                    { key: false, name: 'Email', index: 'Email', searchoptions: { sopt: ['eq', 'ne'] } },
                    { key: false, name: 'Phone', index: 'Phone', searchoptions: { sopt: ['eq', 'ne'] } },
                    { key: false, name: 'City', index: 'City', searchoptions: { sopt: ['eq', 'ne'] } }
                ],
                //width: 700,
                //height: 'auto',
                //caption: "JqGrid Sample By programidea.com",

                height: 'auto',
                autowidth: true,
                loadonce: true,
                pager: jQuery('#divPager'),
                rowNum: 5,
                rowList: [5, 10],
                viewrecords: true,
                caption: 'List of Employees',
                emptyrecords: 'No records to display',
                multiselect: false,
                //jsonReader:
                //{
                //    root: "rows",
                //    page: "page",
                //    total: "total",
                //    records: "records",
                //    repeatitems: false,
                //    Id: "0"
                //}
            }).navGrid('#divPager', {
                edit: true, add: true, del: true, search: true,
                searchtext: "Search Student", refresh: true
            });

            $('#tblData').jqGrid('filterToolbar', {
                // JSON stringify all data from search, including search toolbar operators
                stringResult: true,
                // instuct the grid toolbar to show the search options
                searchOperators: true,
                searchOnEnter: false,
                defaultSearch: 'cn',
                groupOp: 'AND'
            });

        });
    </script>

}
